<%- include('includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/nav.ejs')  %>

    <main>
        <% if (users.length > 0) { %>
            <div>
                <% for (let user of users) { %>
                    <ul>
                        <li><%= user.name %></li>
                    </ul>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs')  %>